{{!
    This file is part of the Allocation form activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_allocationform/mobile_allocation

    Renders the allocation for the user for the mobile app.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id
    * options
    * progress
    * released

    Example context (json):
    {
        "id": 467,
        "options": [
            {"name": "Option 1"},
            {"name": "Option 2"}
        ],
        "progress": {
            "processed": true
        },
        "released": true
    }
}}
{{=<% %>=}}
<div>
    <ion-card>
    <%#released%>
        <ion-card-header>
            {{ 'plugin.mod_allocationform.allocations' | translate }}
        </ion-card-header>
        <ion-card-content>
            {{ 'plugin.mod_allocationform.youralloactions' | translate }}
            <ul>
                <%#options%><li><%name%></li><%/options%>
                <%^options%><li>{{ 'plugin.mod_allocationform.no_allocations' | translate }}</li><%/options%>
            </ul>
        </ion-card-content>
    <%/released%>
    <%^released%>
        <ion-card-content>
            {{ 'plugin.mod_allocationform.queued_for_processing' | translate }}
        </ion-card-content>
    <%/released%>
    </ion-card>
    <!-- Call log WS when the template is loaded. -->
    <span core-site-plugins-call-ws-on-load name="mod_allocationform_view_allocationform" [params]="{id: <% id %>}" [preSets]="{getFromCache: 0, saveToCache: 0}"></span>
</div>
