{{!
    This file is part of the Allocation form activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_allocationform/mobile_editing

    Renders the editing page of the allocation form for the mobile app.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * activateurl
    * badrestrictions
    * deadline
    * deadlinepassed
    * id
    * newoptionurl
    * numberofchoices
    * options
    * people
    * progress
    * totalallocations
    * totalslots
    * toofewslots

    Example context (json):
    {
        "activateurl": "http://example.com",
        "badrestrictions": 1,
        "deadline": 123456789,
        "deadlinepassed": false,
        "id": 467,
        "newoptionurl": "http://example.com",
        "numberofchoices": 2,
        "options": [
            {
                "deleteurl": "http://example.com",
                "editurl": "http://example.com",
                "id": 53,
                "maxallocation": 15,
                "name": "Option 1",
                "restrictedusers": 0,
                "restricturl": "http://example.com"
            },
            {
                "deleteurl": "http://example.com",
                "editurl": "http://example.com",
                "id": 54,
                "maxallocation": 3,
                "name": "Option 2",
                "restrictedusers": 1,
                "restricturl": "http://example.com"
            }
        ],
        "people": 40,
        "progress": {
            "editing": true
        },
        "totalallocations": 1,
        "totalslots": 18,
        "toofewslots": true
    }
}}
{{=<% %>=}}
<div>
    <ion-card>
        <ion-card-content>
            {{ 'plugin.mod_allocationform.cannoteditinapp' | translate }}
        </ion-card-content>
    </ion-card>
    <!-- Call log WS when the template is loaded. -->
    <span core-site-plugins-call-ws-on-load name="mod_allocationform_view_allocationform" [params]="{id: <% id %>}" [preSets]="{getFromCache: 0, saveToCache: 0}"></span>
</div>
