{{!
    This file is part of the Allocation form activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_allocationform/choiceform

    Renders the choice form.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * choiceform
    * deadline

    Example context (json):
    {
        "choiceform": "<form></form>",
        "deadline": 123456789
    }
}}
<p><div class="alert alert-info">{{#str}} deadline_message, mod_allocationform, {"deadline":  {{#quote}}{{#userdate}} {{deadline}}, {{#str}} strftimedatetime {{/str}} {{/userdate}}{{/quote}}} {{/str}}</div></p>
{{{choiceform}}}
