{{!
    This file is part of the Allocation form activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_allocationform/option_result

    Renders the allocations for an option.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * canedit
    * editurl
    * inreview
    * maxallocation
    * name
    * users

    Example context (json):
    {
        "canedit": true,
        "editurl": "http://example.com",
        "inreview": true,
        "maxallocation": 10,
        "name": "option 1",
        "users": [
            {"fullname": "Joe Blogs"},
            {"fullname": "Jane Eyre"}
        ]
    }
}}
<h4>
    {{#str}} optionnamenumber, mod_allocationform, {"name":  {{# quote }}{{name}}{{/ quote }}, "allocation": {{# quote }}{{maxallocation}}{{/ quote }}} {{/str}}
    {{#canedit}}{{#inreview}}
        <a
            href="{{{editurl}}}"
            class="btn btn-sm btn-outline-primary"
            aria-label="{{#str}} aria:edit, mod_allocationform, {{name}} {{/str}}"
        >{{#str}} edit {{/str}}</a>
    {{/inreview}}{{/canedit}}
</h4>
<ul>
    {{#users}}<li>{{fullname}}</li>{{/users}}
    {{^users}}<li>{{#str}} nousersallocated, mod_allocationform {{/str}}</li>{{/users}}
</ul>
